In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [2]:
prices = pd.read_csv('./raw_data/sell_prices.csv')

In [3]:
prices = prices.sort_values(by=['item_id','store_id','wm_yr_wk'])

In [4]:
prices.sample(10)

        store_id          item_id  wm_yr_wk  sell_price
1369612     CA_3    HOBBIES_1_149     11337        1.56
725555      CA_2    HOBBIES_1_118     11133       10.98
3293461     TX_1      FOODS_3_317     11247        1.00
2109401     CA_4    HOBBIES_1_371     11312        0.46
1306813     CA_2      FOODS_3_692     11410        0.80
70492       CA_1    HOBBIES_1_313     11240        1.23
5988323     WI_2      FOODS_3_118     11531        1.18
2995467     TX_1  HOUSEHOLD_2_173     11339        6.97
1228032     CA_2      FOODS_3_324     11236        3.34
3205689     TX_1      FOODS_2_332     11208        3.27

In [5]:
for win in [1, 2, 4, 8]:
    prices['rm_diff_price_{}'.format(win)] = prices[["store_id","item_id","sell_price"]].groupby(
        ["store_id","item_id"])["sell_price"].transform(lambda x : x.rolling(win).mean())
    prices['rm_diff_price_{}'.format(win)] = ((prices['sell_price'] - prices['rm_diff_price_{}'.format(win)])/prices['sell_price']).round(3)

In [6]:
prices.iloc[80:100]

,store_id,item_id,wm_yr_wk,sell_price,rm_diff_price_1,rm_diff_price_2,rm_diff_price_4,rm_diff_price_8
368826,CA_1,FOODS_1_001,11229,2.00,0.0,0.000,0.000,0.000
368827,CA_1,FOODS_1_001,11230,2.00,0.0,0.000,0.000,0.000
368828,CA_1,FOODS_1_001,11231,2.00,0.0,0.000,0.000,0.000
368829,CA_1,FOODS_1_001,11232,2.24,0.0,0.054,0.080,0.094
368830,CA_1,FOODS_1_001,11233,2.24,0.0,0.000,0.054,0.080
368831,CA_1,FOODS_1_001,11234,2.24,0.0,0.000,0.027,0.067
368832,CA_1,FOODS_1_001,11235,2.24,0.0,0.000,0.000,0.054
368833,CA_1,FOODS_1_001,11236,2.24,0.0,0.000,0.000,0.040
368834,CA_1,FOODS_1_001,11237,2.24,0.0,0.000,0.000,0.027
368835,CA_1,FOODS_1_001,11238,2.24,0.0,0.000,0.000,0.013
368836,CA_1,FOODS_1_001,11239,2.24,0.0,0.000,0.000,-0.000
368837,CA_1,FOODS_1_001,11240,2.24,0.0,0.000,0.000,-0.000
368838,CA_1,FOODS_1_001,11241,2.24,0.0,0.000,0.000,-0.000
368839,CA_1,FOODS_1_001,11242,2.24,0.0,0.000,0.000,-0.000
368840,CA_1,FOODS_1_001,11243,2.24,0.0,0.000,0.000,-0.000
368841,CA_1,FOODS_1_001,11244,2.24,0.0,0.000,0.000,-0.000
368842,CA_1,FOODS_1_001,11245,2.24,0.0,0.000,0.000,-0.000
368843,CA_1,FOODS_1_001,11246,2.24,0.0,0.000,0.000,-0.000
368844,CA_1,FOODS_1_001,11247,2.24,0.0,0.000,0.000,-0.000
368845,CA_1,FOODS_1_001,11248,2.24,0.0,0.000,0.000,-0.000

In [7]:
prices.to_csv('./proc_data/prices_processed.csv', index=False)